Source: sl
Maintainer: Elliot Wasem <elliotbielwasem@gmail.com>
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper 

Package: sl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cure your bad habit of mistyping
 SL (Steam Locomotive) runs across your terminal when you type "sl" 
 as you meant to type "ls". It's just a joke command, and not useful at all.
 Additional features added for the purpose of a skills assessment for 
 OpenDrives.
