Package: sl
Version: 6.0-1
Architecture: amd64
Maintainer: Elliot Wasem <elliotbielwasem@gmail.com>
Installed-Size: 46
Depends: libc6 (>= 2.3.4), libncurses6 (>= 6), libtinfo6 (>= 6)
Priority: optional
Description: Cure your bad habit of mistyping
 SL (Steam Locomotive) runs across your terminal when you type "sl"
 as you meant to type "ls". It's just a joke command, and not useful at all.
 Additional features added for the purpose of a skills assessment for
 OpenDrives.
