Package: sl-dbgsym
Package-Type: ddeb
Source: sl
Version: 6.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Elliot Wasem <elliotbielwasem@gmail.com>
Installed-Size: 18
Depends: sl (= 6.0-1)
Section: debug
Priority: optional
Description: debug symbols for sl
Build-Ids: 17399d422ed51ca8f33a804671cc0e4675a2e327
